*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #62374e;
}
body{
    display: flex;
} 
div{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section1{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.section2{
    position: relative;
    display: flex;
    justify-content: space-around;
    }

span{
    height: 100px;
    width: 100px;
    position:relative;
    float:left;
    background-color: #fdc57b; 

}