*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #fde2eb;
}
h1{
    color: #960000f6;
    padding-top: 10px;
    display: relative;
    float: left;
    margin: 0;
}
.container{   
    margin: auto;
    position: relative;
    display: flex;
    height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#box{
    display: flex;
    position:relative;
    justify-content: center;
    width: 500px;
    height: 90px;

}
#heart1, #heart2, #heart3{ 
    width: 100px; 
    height: 90px;
    animation-name: beat;
}
.dot{
    animation-name: vanish;
}

#heart1, #heart2, #heart3, .dot{ 
    position: relative; 
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-fill-mode:forwards;
    animation-play-state: running;
} 

#heart2, .two{
    animation-delay: 200ms;
 }
#heart3, .three{
    animation-delay: 300ms;
}

#heart1:before, #heart1:after,
#heart2:before, #heart2:after,
#heart3:before, #heart3:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50%; 
    height: 90%; 
    background: #960000f6;
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart1:after, #heart2:after, #heart3:after{ 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}
@keyframes beat{
    0%{
        transform: scale(0.6);
        opacity: 1;
    }
    25%{
        transform: scale(0.25);
        opacity: 0.5;
    }
    50%{
        transform: scale(0.6) translateY(-50px);
        opacity: 1;
    }
    75%{
        transform: scale(0.25);
        opacity: 0.5;
    }
    100%{
        transform: scale(0.6) translateY(0px);
        opacity: 1;
    }
}
@keyframes vanish{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes jump{
    0%{
        transform: translateY(-15%);
    }
    25%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-15%);
    }
    75%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-15%);
    }
}