h1{
    margin-top: 3rem;
    padding-top: 3rem;
    color: #ebebeb;
}
.mainClock{
    /* background-color: #8e6ddb; */
    border: solid 1px #8e6ddb;
    margin: 2rem auto;
    gap: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    color:#ebebeb;
    width: 20%;
    min-width: 200px;

}


.clocks{    
    border: solid 1px #8e6ddb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3rem auto;
    gap: 2rem;
    padding: 1rem;
    width: 60%;
}

