*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0b2429;
}
span{
    display: inline-block;
    width: 400px;
    height: 400px;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background-color: #f3ac3c;

}

